


<article>
            
    <h4>Migracion de base fox</h4>        
    
        <form
            class="form"                 
            name="form_migracion"
            id="form_migracion"                                
            enctype="multipart/form-data">                
        
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="filetxt">Plan financiero:</label> 
                    </div>

                    <div class="bl-20">
                                                
                        <input type="file" 
                               name="file" 
                               accept=".xlsx"
                               style="border-bottom-width: 0px;"
                               id="migracion_file">                
                    </div>
                </div>    
            </div>                    



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="fecha">Fecha:</label> 
                    </div>

                    <div class="bl-10">
                        
                        <input type="date" 
                               name="fecha"                                
                               id="migracion_fecha">                
                    </div>
                </div>    
            </div>                    
            
        

                

       


        </form>




    
    
</article>

<article id="migracion-acciones">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_migracion_enviar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Procesar    
            </a>   
        </div> 
        
    </div>
</article>

                
        


<article id="migracion-tabuladores">
    <pre></pre>
</article>
                







        