
<article>
            <form
            class="form"
            action="#"
            name="form_dependencia"
            id="form_dependencia"                    
            >
            
       

                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="dependencia">Dependencia:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="dependencia"
                            id="dependencia_dependencia"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="codigo">Codigo:</label> 
                    </div>

                    <div class="bl-6">
                        <input                                                 
                            type="text"
                            name="codigo"
                            id="dependencia_codigo"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                      
                
                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-28">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="dependencia_nombre"
                            />
                    </div>
                </div>    
            </div>
                




        </form>

</article>

<article id="dependencia-acciones">
    <pre></pre>
</article>
                


<article id="dependencia-tabuladores">
    <pre></pre>
</article>
                
