<h4>Consulta de Saldo Presupuestario</h4>

<article>
        <form
            class="form"
            action="#"
            name="form_cab"
            id="form_cab"                    
            >

            
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="clase">Clase:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="clase"
                            id="cab_clase"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    

            
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="programa">Programa:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="programa"
                            id="cab_programa"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
            
            
            
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="actividad">Act/Proy:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="actividad"
                            id="cab_actividad"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                        
            
            
        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-6">
                        <label for="obj">Objeto:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="obj"
                            id="cab_obj"
                            data-foreign ="obj"
                            class="num" 
                            />
                    </div>
                    
                                         
                    <div class="bl-2">                        
                    </div>
                    
                    
                    <div class="bl-26 out">      
                        <output 
                            id="obj_descripcion" >
                        </output>
                    </div>                          
                    
                    
                </div>    

            </div>                    

                                
                
            
            <div class="f-line">
                
                <div class="f-campo">
                    
                    <div class="bl-2"></div>    

                    <div class="bl-4">
                        <label for="ff">FF:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="ff"
                            id="cab_ff"
                            class="num" 
                            />
                    </div>

                    <div class="bl-4"></div>    
                    
                </div>    
                
                
                
                <div class="f-campo">
                
                    <div class="bl-2"></div>    
                    
                    <div class="bl-4">
                        <label for="of">OF:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="of"
                            id="cab_of"
                            class="num" 
                            />
                    </div>                    
                    
                    <div class="bl-4">                        
                    </div>                       
                    
                </div>
                
                    
                <div class="f-campo">
                    
                    <div class="bl-2"></div>    
                    
                    <div class="bl-4">
                        <label for="dpto">DPTO:</label> 
                    </div>

                    <div class="bl-4">
                        <input                                                 
                            type="text"
                            name="dpto"
                            id="cab_dpto"
                            class="num" 
                            />
                    </div>  
                    
                    <div class="bl-4"></div>                       
                    
                </div>
                    
            </div>                    
            
        
    </form>
</article>




<article id="proceso-acciones">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_cab_buscar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Buscar    
            </a>   
        </div> 
        
    </div>
</article>

