


<h4>Detalles</h4> 

<div class ="table-responsive-vertical">
    
    <table class="tableB" id="detalle-tabla" style="border: 1px solid darkgray;">
        
      <thead>
        <tr>

            <th>año</th>           
            <th>tp</th>           
            <th>pg</th>           
            <th>sp</th>           
            <th>py</th>           

            <th>obj</th>           
            <th>ff</th>           
            <th>of</th>           
            <th>dpto</th>           
            <th>monto</th>           

        
            
            
        </tr>
      </thead>

      <tbody id="detalle-tb">

      </tbody>

      <tfoot>
        <tr>            
        </tr>
      </tfoot>
    </table>

</div>
    
<hr class="e20"/>

<article id="detalle_acciones_lista">
    
    <div class="botones">         
        <div class="boton">     
            <a id="btn_det_nuevalinea" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
               Agregar detalle    
            </a>   
        </div> 
    </div>
    
</article>  


        
        



    
    
    

        
