    

<hr class="e20">
    

<div>
    
    <div class ="table-responsive-vertical">

        <table class="tableB" id="consulta-tabla">
          <thead>
            <tr>

                <th class="ca-10">tp</th>
                <th class="ca-10">pg</th>
                <th class="ca-10">sb</th>
                <th class="ca-10">py</th>
                <th class="ca-10">obj</th>
                <th class="ca-10">ff</th>
                <th class="ca-10">of</th>
                <th class="ca-10">dpt</th>

                <th class="ca-30">monto</th>            

            </tr>
          </thead>
          
          <tbody id="consulta-tb">
              
          </tbody>

          <tfoot>
            <tr>
                <td></td>            
                <td id="sum_total" style="text-align: right;"></td>

            </tr>
          </tfoot>
        </table>
    </div>
    
</div>

    <article id="consulta_acciones_lista">
        <pre></pre>
    </article>    
        
    



<hr class="e20">
<hr class="e20">
<hr class="e20">
