




<div class ="table-responsive-vertical">
    
        <table class="tableB" id="codigocontratacion-tabla">
          <thead>
            <tr>
                
                <th>CC</th>                
                <th>Fecha</th>                
                <th>Tipo procedimiento</th>
                <th>numero pac</th>          
                <th>tipo contrato</th>          
                <th>numero</th>          
                <th>fecha</th>     
                <th>monto total</th>
                <th>proveedor</th>
                
            </tr>
          </thead>

          <tbody id="codigocontratacion-tb">

          </tbody>

          <tfoot>
            <tr>
                <td colspan="7"></td>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="codigocontratacion_paginacion" class="pagination" >                            
        </div>


        
        
        <article id="codigocontratacion_acciones_lista">
            
            <div class="botones"> 
                

                
            </div>    
            
        </article>    


        
        

        
