

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="cajachica-tabla">
          <thead>
            <tr>
                <th class="ca-10" >fecha</th>
                <th class="ca-30">dependencia</th>
                <th class="ca-20">empresa</th>
                <th class="ca-10">saldo</th>
                <th class="ca-10">requerido</th>
                <th class="ca-10">restante</th>
                
                
            </tr>
          </thead>

          <tbody id="cajachica-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
<hr class="e20"/>

<div id="cajachica_paginacion" class="pagination" >                            
</div>



<article id="cajachica_acciones_lista">    
    <div class="botones">         
        <div class="boton">     
            <a id="btn_insertar" data-id="0" class="botonA" href="javascript:void(0);">     
               Insertar    
            </a>   
        </div> 
    </div>
</article>
        
