
<article>
    
        <h4>Certificaciones de caja chica</h4>  
    
    
    <form
    class="form"
    action="#"
    name="form_cajachica"
    id="form_cajachica"                    
    >

        
        
       
        <input                                                 
            type="hidden"
            name="id"
            id="cajachica_id"
            data-pertenece ="CajaChica"   
            value="0"
        />                
                
                

        <div class="f-line">
            
            
            <div class="f-campo">
                <div class="bl-6">
                    <label for="mes">Mes:</label> 
                </div>

                <div class="bl-6">
                    <input                                                 
                        type="text"
                        name="mes"
                        id="cajachica_mes"
                        class="num" 
                        data-foreign ="mes"
                        /> 
                </div>                    
            </div>               

            
            <div class="f-campo">                    
            </div>
                
        </div>       
        
        
        <input                                                 
            type="hidden"
            name="clase"
            id="cajachica_clase"
            data-pertenece ="CajaChica"     
        />                
                        
        <input                                                 
            type="hidden"
            name="programa"
            id="cajachica_programa"
            data-pertenece ="CajaChica"     
        />                

        <input                                                 
            type="hidden"
            name="actividad"
            id="cajachica_actividad"
            data-pertenece ="CajaChica"     
        />                
                        
        <input                                                 
            type="hidden"
            name="obj"
            id="cajachica_obj"
            data-pertenece ="CajaChica"     
        />                
                        
        <input                                                 
            type="hidden"
            name="ff"
            id="cajachica_ff"
            data-pertenece ="CajaChica"     
        />                
                        
        <input                                                 
            type="hidden"
            name="of"
            id="cajachica_of"
            data-pertenece ="CajaChica"     
        />                
                        
        <input                                                 
            type="hidden"
            name="dpto"
            id="cajachica_dpto"
            data-pertenece ="CajaChica"     
        />                
                        
        
        
        
        
        <div class="f-line">

            <div class="f-campo">
                <div class="bl-6">
                    <label for="fecha">Fecha:</label> 
                </div>

                <div class="bl-8">
                    <input type="date" 
                           name="fecha" 
                           id="cajachica_fecha">
                </div>
                <div class="bl-6"></div>
            </div>                
            
                      
        </div>       
        
        

        

        
        
        <div class="f-line">
            

            <div class="f-campo">

                <div class="bl-6">
                    <label for="dependencia">Dependencia:</label> 
                </div>

                <div class="bl-6">
                    <input type="text" 
                           name="dependencia" 
                           id="cajachica_dependencia" 
                           class="num" 
                           data-foreign ="Dependencia"
                           >
                </div>

                <div class="bl-2">                        
                    <div class="icono"> 
                        <span class="icon-more-horizontal" 
                              id="ico-more-dependencia" 
                              data-ind="0">                                    
                        </span>
                    </div>                        
                </div>   


                <div class="bl-2"></div>                        

                <div class="bl-28 out">      
                    <output id="dependencia_descripcion_out"></output>
                </div>  

            </div>

        </div>
        

      
        
        
        <div class="f-line">

            <div class="f-campo">
                <div class="bl-10">
                    <label for="nombre_empresa">Nombre empresa:</label> 
                </div>

                <div class="bl-20">
                    <input type="text" 
                           name="nombre_empresa" 
                           id="cajachica_nombre_empresa">
                </div>
                <div class="bl-6"></div>
            </div>            
            
        </div>
                
        
        
        

        <div class="f-line">
            
            <div class="f-campo">
                <div class="bl-10">
                    <label for="saldo_disponible">Saldo disponible:</label> 
                </div>

                <div class="bl-10">
                    <input type="text" 
                           name="saldo_disponible" 
                           id="cajachica_saldo_disponible"
                           class="num">
                </div>
                <div class="bl-6"></div>
            </div>      
            
        </div>

        


        <div class="f-line">
            
            <div class="f-campo">
                <div class="bl-10">
                    <label for="monto_requerido">Monto requerido:</label> 
                </div>

                <div class="bl-10">
                    <input type="text" 
                           name="monto_requerido" 
                           id="cajachica_monto_requerido"
                           class="num">
                </div>
                <div class="bl-6"></div>
            </div>      
            
        </div>
                
        
        
        <div class="f-line">
            
            <div class="f-campo">
                <div class="bl-10">
                    <label for="monto_restante">Monto Restante:</label> 
                </div>

                <div class="bl-10">
                    <input type="text" 
                           name="monto_restante" 
                           id="cajachica_monto_restante"
                           class="num">
                </div>
                <div class="bl-6"></div>
            </div>      
            
        </div>
                
         
        
        
        <div class="f-line" id="linea_obligado">
            
            <div class="f-campo">
                <div class="bl-10">
                    <label for="obligado">Obligado:</label> 
                </div>

                
                
                <div class="bl-4">
                    <select name="obligado" 
                            id="cajachica_obligado"       
                            data-vista ="boolean"
                             >                           
                    </select>      
                </div>    
                
                <div class="bl-6"></div>
                
            </div>            
            
            

            <div class="f-campo">
                <div class="bl-10">
                    <label for="monto_obligado">Monto obligado:</label> 
                </div>

                <div class="bl-10">
                    <input type="text" 
                           name="monto_obligado" 
                           id="cajachica_monto_obligado"
                           class="num">
                </div>
                <div class="bl-6"></div>
            </div>   
            
        </div>
                


    </form>

</article>



<article id="cajachica-acciones">
    <pre></pre>
</article>
                


<article id="cajachica-tabuladores">
    <pre></pre>
</article>
                
