
<article>
            <form
            class="form"     
            
            method="POST"
            name="form_migracion"
            id="form_migracion"                    
            enctype="multipart/form-data"
            action="/mecpresupuesto/fileUpload"            
            >
            
                
        
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-5">
                        <label for="archivos">Archivos:</label> 
                    </div>

                    <div class="bl-20">
                        
                        <input type="file" name="upfile" style="
                            border-bottom-width: 0px;"
                            id="input">                


                    </div>
                </div>    
            </div>                    

       


        </form>

</article>

<article id="migracion-acciones">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_migracion_enviar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Enviar    
            </a>   
        </div> 
        
    </div>
</article>

                
        


<article id="migracion-tabuladores">
    <pre></pre>
</article>
                
