


<article>
            
    <h4>Migracion de archivos para base</h4>        
    
            <form
                class="form"                 
                name="form_migracion"
                id="form_migracion"                                
            >
            
                
        
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="01-plf">Plan financiero:</label> 
                    </div>

                    <div class="bl-20">
                        
                        <input type="file" 
                               name="01-plf" 
                               style="border-bottom-width: 0px;"
                               id="01-plf">                
                    </div>
                </div>    
            </div>                    


            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="02-ejec">Ejecucion:</label> 
                    </div>

                    <div class="bl-20">
                        
                        <input type="file" 
                               name="02-ejec" 
                               style="border-bottom-width: 0px;"
                               id="02-ejec">                
                    </div>
                </div>    
            </div>                    
                
                
                
                
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="03-inicial">Presupuesto inicial:</label> 
                    </div>

                    <div class="bl-20">
                        
                        <input type="file" 
                               name="03-inicial" 
                               style="border-bottom-width: 0px;"
                               id="03-inicial">                
                    </div>
                </div>    
            </div>                    

       
        
                
        
            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-10">
                        <label for="40-prev-compromisos">Prev. y compromisos:</label> 
                    </div>

                    <div class="bl-20">
                        
                        <input type="file" 
                               name="40-prev-compromisos" 
                               style="border-bottom-width: 0px;"
                               id="40-prev-compromisos">                
                    </div>
                </div>    
            </div>                    

       
        

       


        </form>




    
    
</article>

<article id="migracion-acciones">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_migracion_enviar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Procesar    
            </a>   
        </div> 
        
    </div>
</article>

                
        


<article id="migracion-tabuladores">
    <pre></pre>
</article>
                
