

<h4>Filtro por conceptos</h4>


<article>
    
    <form
        class="form"
        action="#"
        name="form_cab"
        id="form_cab"                    
        >


        <div class="f-line">
            <div class="f-campo">

                <div class="bl-6">
                    <label for="concepto">Concepto:</label> 
                </div>

                <div class="bl-24">
                    <input                                                 
                        type="text"
                        name="concepto"
                        id="concepto"                        
                        />
                </div>
            </div>    
        </div>                    



    </form>
</article>




<article id="proceso-acciones">
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_cab_buscar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
                Buscar    
            </a>   
        </div> 
        
    </div>    
    
    
</article>

