
<article>
    
    
    
    
    
    
    <form
        class="form"
        action="#"
        name="form_certificacionplanfin"
        id="form_certificacionplanfin"                    
    >
            
       
        
        <input                                                 
            type="hidden"
            name="id"
            id="certificacionplanfin_id"
            data-pertenece ="CertificacionPlanfin"     
            />        

        <input                                                 
            type="hidden"
            name="certificacion_tipo"
            id="certificacionplanfin_certificacion_tipo"
            data-pertenece ="CertificacionPlanfin"     
            />        
        
        

        <div class="f-line">
            <div class="f-campo">

                <div class="bl-6">
                    <label for="clase">Clase:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="clase"
                        id="certificacionplanfin_clase"
                        class="num" 
                        />
                </div>
            </div>    
        </div>                    


        <div class="f-line">
            <div class="f-campo">

                <div class="bl-6">
                    <label for="programa">Programa:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="programa"
                        id="certificacionplanfin_programa"
                        class="num" 
                        />
                </div>
            </div>    
        </div>                    



        <div class="f-line">
            <div class="f-campo">

                <div class="bl-6">
                    <label for="actividad">Act/Proy:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="actividad"
                        id="certificacionplanfin_actividad"
                        class="num" 
                        />
                </div>
            </div>    
        </div>                    


        
        
        <div class="f-line">

            <div class="f-campo">

                <div class="bl-6">
                    <label for="obj">Objeto:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="obj"
                        id="certificacionplanfin_obj"                        
                        class="num" 
                        />
                </div>
                
            </div>    

        </div>                    


        <div class="f-line">

            <div class="f-campo">

                <div class="bl-6">
                    <label for="ff">FF:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="ff"
                        id="certificacionplanfin_ff"
                        class="num" 
                        />
                </div>
            </div>    
        </div>



        <div class="f-line">

            <div class="f-campo">

                <div class="bl-6">
                    <label for="of">OF:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="of"
                        id="certificacionplanfin_of"
                        class="num" 
                        />
                </div>                    
            </div>

        </div>
        
        <div class="f-line">

            <div class="f-campo">

                <div class="bl-6">
                    <label for="dpto">Dpto:</label> 
                </div>

                <div class="bl-4">
                    <input                                                 
                        type="text"
                        name="dpto"
                        id="certificacionplanfin_dpto"
                        class="num" 
                        />
                </div>                    
            </div>

        </div>
        
        
        <div class="f-line"><br></div>        
        
        
        
        
        <div style="height: 120px;">

            <div class="f-campo">
                
                <div class="bl-8">
                    
                    <label for="enero">Enero:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="enero"
                            id="certificacionplanfin_enero"
                            class="num" 
                            />
                    </div>

                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="enero_saldo"
                            id="certificacionplanfin_enero_saldo"
                            class="num" 
                            />                    
                    </div>
                    
                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="febrero">Febrero:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="febrero"
                            id="certificacionplanfin_febrero"
                            class="num" 
                            />
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="febrero_saldo"
                            id="certificacionplanfin_febrero_saldo"
                            class="num" 
                            />                                      
                    </div>
                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="marzo">Marzo:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="marzo"
                            id="certificacionplanfin_marzo"
                            class="num" 
                            />
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="marzo_saldo"
                            id="certificacionplanfin_marzo_saldo"
                            class="num" 
                            />                    
                    </div>

                    
                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="abril">Abril:</label>   
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="abril"
                            id="certificacionplanfin_abril"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="abril_saldo"
                            id="certificacionplanfin_abril_saldo"
                            class="num" 
                            />        
                    </div>

                </div>                    
                <div class="bl-2"></div>
               
            </div>
        </div>        
        


        
        <div style="height: 120px;">

            <div class="f-campo">
                
                <div class="bl-8">
                    <label for="mayo">Mayo:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="mayo"
                            id="certificacionplanfin_mayo"
                            class="num" 
                            />
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="mayo_saldo"
                            id="certificacionplanfin_mayo_saldo"
                            class="num" 
                            />                                            
                    </div>

                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="junio">Junio:</label>   
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="junio"
                            id="certificacionplanfin_junio"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="junio_saldo"
                            id="certificacionplanfin_junio_saldo"
                            class="num" 
                            />                    
                        
                    </div>
                    
                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="julio">Julio:</label>     
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="julio"
                            id="certificacionplanfin_julio"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="julio_saldo"
                            id="certificacionplanfin_julio_saldo"
                            class="num" 
                            />                                            
                    </div>

                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="agosto">Agosto:</label>     
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="agosto"
                            id="certificacionplanfin_agosto"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="agosto_saldo"
                            id="certificacionplanfin_agosto_saldo"
                            class="num" 
                            />                        
                    </div>

                </div>                    
                <div class="bl-2"></div>
                
            </div>
        </div>




        
        <div style="height: 120px;">

            <div class="f-campo">
                
                <div class="bl-8">
                    <label for="septiembre">Septiembre:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="septiembre"
                            id="certificacionplanfin_septiembre"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="septiembre_saldo"
                            id="certificacionplanfin_septiembre_saldo"
                            class="num" 
                            />                        
                    </div>

                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="octubre">Octubre:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="octubre"
                            id="certificacionplanfin_octubre"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="octubre_saldo"
                            id="certificacionplanfin_octubre_saldo"
                            class="num" 
                            />                        
                    </div>

                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="noviembre">Noviembre:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="noviembre"
                            id="certificacionplanfin_noviembre"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="noviembre_saldo"
                            id="certificacionplanfin_noviembre_saldo"
                            class="num" 
                            />                        
                    </div>


                </div>                    
                <div class="bl-2"></div>

                <div class="bl-8">
                    <label for="diciembre">Diciembre:</label>                    
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="diciembre"
                            id="certificacionplanfin_diciembre"
                            class="num" 
                            />                        
                    </div>
                    <div class="campot">
                        <input                                                 
                            type="text"
                            name="diciembre_saldo"
                            id="certificacionplanfin_diciembre_saldo"
                            class="num" 
                            />                        
                    </div>


                </div>                    
                <div class="bl-2"></div>

                
                
                
            </div>

        </div>        
        

    </form>

</article>

<article id="certificacionplanfin-acciones">
    <pre></pre>
</article>
                


<article id="certificacionplanfin-tabuladores">
    <pre></pre>
</article>
                
