

<article>

    <h4>Plan financiero por tipo de certificacion</h4>
    
    
    <form>
    
    <div class="f-line">
        <div class="f-campo">
            <div class="bl-8">
                <label for="tipo_certificacion">Tipo Certificacion:</label> 
            </div>

            <div class="bl-16">
                <select name="tipo_certificacion" id="tipo_certificacion">   
                    
                </select>      
            </div>                    
        </div>          
    </div>

    </form>
    
    
</article>    


<article id="acciones_lista">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_insertar" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
               Insertar    
            </a>   
        </div> 
        
    </div>
</article>



<div class ="table-responsive-vertical">
    
    
    <div class="serie_main">
        
        
        <div class="serie_thead">
            
            <div class="serie_thead_item">            
            </div>
            <div class="serie_thead_item">                
            </div>                
            <div class="serie_thead_item">                
            </div>                                 
            
        </div>
        



        
        <div class="serie_body" id="certificacionplanfin_serie_body">
        </div>        
        
       
   
    
    
        <div class="serie_tfoot">            
        </div>    
    
        
    </div> 
        
    
</div>

    <hr class="e20"/>

    <div id="transito_costo_paginacion" class="pagination" >                            
    </div>

