


<div class="serie_line"   data-linea_id="cambioid_">
    
        <div class="serie_subline">                    

            
            <div class="serie_elemento_valor" 
                 data-valor="clase">                            
            </div>                   
            
            <div class="serie_elemento_valor" 
                 data-valor="programa">                            
            </div>                        

            <div class="serie_elemento_valor" 
                 data-valor="actividad">                            
            </div>                        
            
            <div class="serie_elemento_valor" 
                 data-valor="obj">                            
            </div>                        
            
            <div class="serie_elemento_valor" 
                 data-valor="ff">                            
            </div>                        
            
            <div class="serie_elemento_valor" 
                 data-valor="of">                            
            </div>                        

            <div class="serie_elemento_valor" 
                 data-valor="dpto">                            
            </div>                        

        </div>    
    



    


        <div class="serie_subline">
            
            
            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">&nbsp;</div>
                    <div class="serie_elemento_label txtder">asignado</div>
                    <div class="serie_elemento_label txtder">certificado</div>
                    <div class="serie_elemento_label txtder">saldo</div>
                </div>
            </div>                

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">enero</div>
                    <div class="serie_elemento_valor txtder" data-valor="enero"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="enero_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="enero_saldo"></div>
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">febrero</div>
                    <div class="serie_elemento_valor txtder" data-valor="febrero"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="febrero_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="febrero_saldo"></div>                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">marzo</div>
                    <div class="serie_elemento_valor txtder" data-valor="marzo"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="marzo_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="marzo_saldo"></div>                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">abril</div>
                    <div class="serie_elemento_valor txtder" data-valor="abril"></div>
                    <div class="serie_elemento_valor txtder" data-valor="abril_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="abril_saldo"></div>                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">mayo</div>
                    <div class="serie_elemento_valor txtder" data-valor="mayo"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="mayo_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="mayo_saldo"></div>                                        
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">junio</div>
                    <div class="serie_elemento_valor txtder" data-valor="junio"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="junio_suma"></div>
                    <div class="serie_elemento_valor txtder" data-valor="junio_saldo"></div>                                        
                </div>
            </div>

        </div>


        <div class="serie_subline">

            
            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">&nbsp;</div>
                    <div class="serie_elemento_label txtder">asignado</div>
                    <div class="serie_elemento_label txtder">certificado</div>
                    <div class="serie_elemento_label txtder">saldo</div>
                </div>
            </div>            
            
            
            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">julio</div>
                    <div class="serie_elemento_valor txtder" data-valor="julio"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="julio_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="julio_saldo"></div>                                                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">agosto</div>
                    <div class="serie_elemento_valor txtder" data-valor="agosto"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="agosto_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="agosto_saldo"></div>                                                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">septiembre</div>
                    <div class="serie_elemento_valor txtder" data-valor="septiembre"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="septiembre_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="septiembre_saldo"></div>                                                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">octubre</div>
                    <div class="serie_elemento_valor txtder" data-valor="octubre"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="octubre_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="octubre_saldo"></div>                                                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">noviembre</div>
                    <div class="serie_elemento_valor txtder" data-valor="noviembre"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="noviembre_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="noviembre_saldo"></div>                                                    
                </div>
            </div>

            <div class="serie_blockrow bl-6">
                <div class="serie_blockcol">
                    <div class="serie_elemento_label txtder">diciembre</div>
                    <div class="serie_elemento_valor txtder" data-valor="diciembre"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="diciembre_suma"></div>                                                    
                    <div class="serie_elemento_valor txtder" data-valor="diciembre_saldo"></div>                                                    
                </div>
            </div>

        </div>



    
</div>
                         

                
    
                    
   