    


<hr class="e20">
    


<div class="table-responsive-vertical" 
     style="overflow: auto;"
     >    
    
    
    <table class="tableB tableCexc" id="ejecuciondocumento-tabla">
      <thead>
        <tr>
            <th colspan="2">documento</th>
            <th colspan="2">referencia</th>
            
            <th>fecha</th>            
            <th>Cod</th>
            
            <th>Concepto</th>
            
            <th colspan="2">Importe</th>
            
        </tr>
        <tr>
            
            <th>Tip.</th>
            <th>Num.</th>
            
            <th>Tip.</th>
            <th>Num.</th>
            
            <th>fecha</th>
            <th>R.C.P.</th>
            
            <th></th>
            
            <th>obligado</th>
            <th>pagado</th>
        </tr>
        
        
      </thead>

      <tbody id="ejecuciondocumento-tb">
      

      </tbody>

      <tfoot>

        <tr>
            <td colspan="7"></td>
            <td id="sum_obligado" style="text-align: right;">0</td>
            <td id="sum_pagado" style="text-align: right;">0</td>
        </tr>
        
    </tfoot>
    
    </table>
</div>


    <hr class="e20"/>
    
    <div id="ejecuciondocumento_paginacion" class="pagination" >                            
    </div>

    <article id="ejecuciondocumento_acciones_lista">
        <pre></pre>
    </article>    
        
    



<hr class="e20">
<hr class="e20">
<hr class="e20">
