    


<hr class="e20">
    


<div class="table-responsive-vertical" 
     style="overflow: auto;"
     >    
    
    
    <table class="tableB tableCexc" id="lin1-tabla" style="width: 65%;">
        <thead>
            <tr>            
                <th colspan="9">datos migrador</th>          
            </tr>
        
            <tr>            
                <th>clas</th>
                <th>prog</th>
                <th>acti</th>

                <th>obj</th>
                <th>ff</th>
                <th>of</th>
                <th>dpt</th>

                <th>inicial</th>
                <th>modifi</th>
                
                <th>vigente</th>
                <th>saldo plan</th>
                
                
                
            </tr>                
        </thead>
        <tbody id="lin-tb">
            <tr>
                <td id="l1_clase">0</td>
                <td id="l1_programa">0</td>
                <td id="l1_actividad">0</td>

                <td id="l1_obj">0</td>
                <td id="l1_ff">0</td>
                <td id="l1_of">0</td>
                <td id="l1_dpto">0</td>

                <td id="l1_inicial">0</td>
                <td id="l1_modifi">0</td>                
                <td id="l1_vigente">0</td>                
                <td id="l1_saldoplan">0</td>                
                
            </tr>
        </tbody>

        <tfoot>
            <tr>
            </tr>   
        </tfoot>
    
    </table>
    
    
      <hr class="e20"/>
    
    
    
    <table class="tableB tableCexc" id="lin2-tabla">
        <thead>
            <tr>            
                <th colspan="6">contratacion</th>          
            </tr>
        
            <tr>
                <th>año</th>
                <th>fecha emision</th>
                <th>empresa</th>
                <th>adjudicacion</th>
                <th>descripcion</th>
                <th>cc</th>
                <th>monto</th>

            </tr>                
        </thead>
        <tbody id="lin2-tb">

        </tbody>

        
        <tfoot>
            <tr>
            </tr>   
        </tfoot>
    
    </table>
    
        
    
    
</div>


    <hr class="e20"/>
    
    <div id="lin_paginacion" class="pagination" >                            
    </div>

    <article id="lin_acciones_lista">
        <pre></pre>
    </article>    
        
    

<hr class="e20">
