
<article>
    
    
    <h4>Certificaciones de pasajes y viaticos</h4>    
    
    
    
    <form
        class="form"
        action="#"
        name="form_cab"
        id="form_cab"                    
    >
          
       
        
        <input                                                 
            type="hidden"
            name="id"
            id="pasajeviatico_id"
            data-pertenece ="PasajeViatico"     
            />        

        
        
        <div class="f-line">
            
            <div class="f-campo">
                <div class="bl-6">
                    <label for="mes">Mes:</label> 
                </div>

                <div class="bl-16">
                    <select name="mes" 
                            id="mes"                                                                           
                             >   
                    </select>      
                </div>                    
            </div>               

            
            <div class="f-campo">                    
            </div>
                
                
                
        </div>                    
        
        <br><br>

        


        <div class="f-line">    
            <div>
                
                <a id="btn_buscare" href="javascript:void(0);" style="
                    display: flex;
                    ">     
                    <div style="
                        border-right-width: 20px;
                        padding-right: 10px;
                        padding-top: 5px;
                        "><i class="gg-search"></i></div>
                    <div>Buscar estructura</div>
                    
                </a>
                
            </div>            
            
            
            
        </div>
        
        <br>
        <div>
            <input                                                 
                type="hidden"
                name="id_lineae"
                id="id_lineae"  
                value="0"
            />                
        </div>
        
        <div class="f-line">
            
            <table style="border: none;border-collapse: collapse;">

           
                
                
              <tr>

                <td class="bl-4"><label>Clase:</label></td>

                <td class="bl-4"><label>Programa:</label></td>

                <td class="bl-4"><label>Act/Proy:</label></td>
                
                <td class="bl-4"><label>Objeto:</label></td>
                
                <td class="bl-4"><label>FF:</label></td>
                
                <td class="bl-4"> <label>OF:</label></td>
                
                <td class="bl-4"><label>Dpto:</label></td>

              </tr>
              
              
              <tr>

                <td id="eclase">0</td>
                <td id="eprograma">0</td>
                <td id="eactividad">0</td>                
                <td id="eobj">0</td>
                <td id="eff">0</td>
                <td id="eof">0</td>
                <td id="edpto">0</td>

              </tr>

            </table>            
            
            
            
            
            
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-10">
                        <label for="saldo_disponible">Saldo disponible:</label> 
                    </div>

                    <div class="bl-10">
                        <input type="text" 
                               name="saldo_disponible" 
                               id="saldo_disponible"
                               class="num" 
                               disabled="disabled">
                    </div>
                    <div class="bl-6"></div>
                </div>      

            </div>            
            
            
            

            
            <div class="f-line">

                <div class="f-campo">
                    <div class="bl-10">
                        <label for="busquedat">Busqueda:</label> 
                    </div>

                    <div class="bl-24">
                        <input type="text" 
                               name="busquedat" 
                               id="busquedat"                               
                               >
                    </div>
                    <div class="bl-6"></div>
                </div>      

            </div>            
            
                       
                        
            
            

        </div>                    

        
    </form>

</article>

<article id="objeto-acciones">
    <pre></pre>
</article>
                


<article id="objeto-tabuladores">
    <pre></pre>
</article>
                


<article id="objeto_detalle">
    <pre></pre>
</article>
                