    


<div class ="table-responsive-vertical">
    
    <table class="tableB" id="consulta-tabla">
      <thead>
        <tr>
            <th class="ca-10">objeto</th>
            <th class="ca-20">vigente</th>
            <th class="ca-20">previsiones</th>
            <th class="ca-20">compromisos</th>
            <th class="ca-20">obligado</th>
        </tr>
      </thead>

      <tbody id="consulta-tb">
      

      </tbody>

      <tfoot>
        <tr>
            <td></td>
            <td id="sum_vigente" style="text-align: right;">0</td>
            <td id="sum_prevision" style="text-align: right;" >0</td>
            <td id="sum_compromiso" style="text-align: right;">0</td>
            <td id="sum_obligado" style="text-align: right;">0</td>
            
        </tr>
      </tfoot>
    </table>
</div>


<hr class="e20"/>

