




<div class ="table-responsive-vertical">
    
    <table class="tableB" id="file-tabla">
      <thead>
        <tr>

            <th>Codigo contratacion</th>           

        </tr>
      </thead>

      <tbody id="file-tb">

      </tbody>

      <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
      </tfoot>
    </table>

</div>
    
<hr class="e20"/>

<div id="file_paginacion" class="pagination" >                            
</div>

<article id="file_acciones_lista">
    <pre></pre>
</article>  


        
        

        
