      


<div class ="table-responsive-vertical wi-6">
    
    <table class="tableB " id="consulta-tabla">
      <thead>
        <tr>
            <th>mes</th>
            <th>monto certificado</th>
            
        </tr>
      </thead>

      <tbody id="consulta-tb">
      

      </tbody>

      <tfoot>
        <tr>
            <td></td>            
            <td id="sum_certificado" style="text-align: right;">0</td>
            
        </tr>
      </tfoot>
    </table>
</div>


<hr class="e20"/>



<article id="acciones_lista">
    
    <div class="botones"> 
        
        <div class="boton">     
            <a id="btn_xlsx" 
               data-id="0" 
               class="botonA" 
               href="javascript:void(0);">     
               descargar .xlsx    
            </a>   
        </div> 
        
    </div>
</article>

